
@font-face {
  font-family: 'AnjomanMax-Regular';
  src: url('assets/fonts/anjoman/AnjomanMax-Regular.eot');
  src: url('assets/fonts/anjoman/AnjomanMax-Regular.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/anjoman/AnjomanMax-Regular.woff2') format('woff2'),
       url('assets/fonts/anjoman/AnjomanMax-Regular.woff') format('woff'),
       url('assets/fonts/anjoman/AnjomanMax-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'AnjomanMax-Regular', sans-serif;
}